html[class^="bili_"] {
  body {
    color: var(--text1);
    background-color: var(--bg2) !important;
  }

  .be-dropdown {
    .be-dropdown-menu {
      background-color: var(--bg1);

      .be-dropdown-item {
        color: var(--text1);

        &:hover {
          background-color: hsla(215, 6%, 60%, .1);
        }

        span {
          color: var(--text1) !important;
        }
      }
    }
  }

  .be-pager {

    .be-pager-item,
    .be-pager-next {
      background-color: var(--bg1_float);
    }

    .be-pager-options-elevator {
      color: var(--text1);

      input {
        background-color: var(--bg1_float);
      }
    }
  }

  .btn {
    background-color: transparent;

    &.default {
      background-color: transparent;
    }
  }

  .report-popup {
    .report-popup-tip {
      color: var(--text1);
    }

    .report-popup-list {
      .report-popup-item-text {
        color: var(--text2);
      }
    }
  }

  .modal-container {
    .modal-wrapper {
      background-color: var(--bg1_float);
    }
  }

  .section {
    .section-title {
      color: var(--text1);
    }
  }


  .bili-dialog-m {
    .dialog-wrapper {
      background-color: var(--bg1_float);

      .dialog-title {
        color: var(--text1);
      }

      .create-input {
        span {
          color: var(--text1);
        }

        input,
        textarea {
          background-color: transparent;
          color: var(--text1);
        }
      }

      .create-action {
        .cancel-btn {
          background-color: transparent;
        }
      }
    }
  }

  .bangumi-options {
    .opt-list {
      background-color: var(--bg1_float);

      li:not(.disabled) {
        color: var(--text1);
      }

      li.disabled {
        color: var(--text4);
      }

      li:hover {
        background-color: var(--bg2_float);
      }
    }
  }
}